.attachDiv {
    align-self: center;
    margin-left: auto;
    height: 100%;
}
.paper {
    width: 90%;
    height: 90%;
    display: flex;
    outline: none;
    position: absolute;
    box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 5px 8px 0px rgba(0,0,0,0.14), 0px 1px 14px 0px rgba(0,0,0,0.12);
    align-items: center;
    border-radius: 5px;
    justify-content: center;
    background-color: #191b22;
}
.close {
    top: 2px;
    left: 3px;
    color: #f1f1f1;
    cursor: pointer;
    position: absolute;
    font-size: 32px;
}
.contentDiv {
    width: 100%;
    text-align: center;
}
.commentBlock {
    background-color: #fff;
    border-radius: 0 5px 5px 0;
    height: 100%;
    width: 400px;
}
.infBlockFirst {
    padding: 15px;
    display: flex;
    align-items: center
}
.userAvatar {
    width: 40px;
    height: 40px;
}