.avatarArea {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.downloadHover {
    display: none;
}
.avatarArea:hover .downloadHover {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #00000096;
    position: absolute;
    z-index: 2;
    align-items: center;
    display: flex;
    justify-content: center;
}
.downloadIcon {
    color: #fff;
    width: 30px;
    height: 30px;
}