.back {
    background: linear-gradient(225deg, #00100c, #003845, #042a30, #001414);
    background-size: 800% 800%;

    -webkit-animation: AnimationName 19s ease infinite;
    -moz-animation: AnimationName 19s ease infinite;
    animation: AnimationName 19s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 94%}
    50%{background-position:100% 7%}
    100%{background-position:0% 94%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 94%}
    50%{background-position:100% 7%}
    100%{background-position:0% 94%}
}
@keyframes AnimationName {
    0%{background-position:0% 94%}
    50%{background-position:100% 7%}
    100%{background-position:0% 94%}
}