.drawerTest {
    display: none
}

.drawerDesktop {
    display: none;
}

@media (max-width: 599px) {
    .drawerTest {
        display: block;
    }
}
@media (min-width: 600px) {
    .drawerDesktop {
        display: block;
    }
}

.scroll {
    -webkit-overflow-scrolling: touch;
    width: 100%;
    height: 100%;
}

.scrollDrawer {
    -webkit-overflow-scrolling: touch;
   /* height: 100%;*/
    width: initial;
    padding: 127px 0px 39px 8px!important;

}

.scrollMessageArea {
    height: auto;
    padding-top: 10px;
}



