.scroll {
    -webkit-overflow-scrolling: touch;
    width: 100%;
    height: 100%;
}

.scrollDrawer {
    -webkit-overflow-scrolling: touch;
   /* height: 100%;*/
    width: 100%;
}

.scrollMessageArea {
    height: auto;
    padding-top: 10px;
}


