.scroll {
    -webkit-overflow-scrolling: touch;
    /* height: calc(100vh - 132px);*/
    width: 100%;
    height: 100%;
  /*  overflow: auto;*/
    padding-top: 15px;
}
.scrollDrawer {
    -webkit-overflow-scrolling: touch;
    height: 100%;
    width: 100%;
   /* overflow: auto;
*/
}
.scrollDrawerFix {
    height: -webkit-fill-available!important;
    height: -moz-available!important;
}

html {
    -webkit-text-size-adjust: none;
}
.scrollMessageArea {
    height: -webkit-fill-available !important;
    height: -moz-available!important;

}


